fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community

langchain-google-genai
langchain-astradb

google-genai

python-dotenv
pydantic
pydantic-settings

pypdf

httpx
requests

python-multipart

tiktoken